.main-photo {
  width: 60%;
  border-radius: 50%;
  margin-top: 1em;
  margin-left: 20%;
  box-shadow: 4px 4px 4px #0b54a1;
}

.about-div {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.underline {
  height: 3px;
  width: 9%;
  background: linear-gradient(135deg, #efa7af 0%, #0b54a1 100%);
}

.about-text {
  margin-top: 3em;
  width: 90%;
  font-size: 1.2em;
  text-align: center;
  margin-left: 5%;
}

.btn-outline-danger {
  border-radius: 0;
  margin-left: 25%;
  width: 50%;
  margin-top: 2em;
  font-size: 1.4em;
  color: #0b54a1;
  border-color: #0b54a1;
}

.btn-outline-danger:hover {
  background-color: #0b54a1;
  border-color: #0b54a1;
}

@media only screen and (max-width: 420px) {
  .btn-outline-danger {
    width: 50%;
    margin-left: 25%;
  }

  .main-photo {
    width: 60%;
    margin-left: 20%;
  }

  .about-text {
    font-size: 1em;
  }
}

.fa-cloud-download-alt {
  margin-right: 10px;
}

.languages {
  margin-top: 5em;
}

.fa-4x {
  margin-top: 1em;
  margin-bottom: 10px;
}

.javascript:hover {
  color: #f0db4f;
}

.react:hover {
  color: #61dbfb;
}

.ruby:hover {
  color: #820c02;
}

.html:hover {
  color: #e44d26;
}

.css:hover {
  color: #264de4;
}

.sql:hover {
  color: #00758f;
}

.vue:hover {
  color: #41b883;
}

.git:hover {
  color: #f1502f;
}

.sass:hover {
  color: #c69;
}

.bootstrap:hover {
  color: #602c50;
}

.node:hover {
  color: #68a063;
}

.python:hover {
  color: #4b8bbe;
}