.blog-div {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  /* margin-bottom: 10%; */
}

.blog-card-title {
  font-weight: 700;
}

.blog-card-img {
  height: 10em;
}

.blog-card-text {
  /* height: 8em; */
  margin-bottom: 2.5em;
}

.blog-card-group {
  margin-top: 3em;
}
