html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgba(244, 233, 190, 0.009) 50%,
    rgba(255, 47, 0, 0.897) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 30s;
}

.bg3 {
  animation-duration: 30s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.753);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-20%, -20%);
}

@keyframes slide {
  0% {
    transform: translateX(-8%);
  }
  100% {
    transform: translateX(8%);
  }
}

h1 {
  font-family: "Oxygen", sans-serif;
  /* font-weight: 300; */
  margin-left: 3.5%;
  margin-top: 8%;
  font-size: 3.6em;
  color: white;
  text-shadow: 2px 2px black;
}

h4 {
  font-family: "Raleway", sans-serif;
  margin-left: 18%;
  font-weight: 300;
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px black;
}

button {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px black;
  font-family: "Raleway", sans-serif;
  color: #fc584b;
  font-size: 1.3em;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  margin-left: 76%;
  margin-top: 13em;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #fc584b;
}

button::before,
button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 0.2s;
}

.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.draw::before {
  top: 0;
  left: 0;
}

.draw::after {
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}

.draw:hover {
  color: rgba(255, 47, 0, 0.897);
}

.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}

.draw:hover::before {
  border-top-color: rgba(255, 47, 0, 0.897);
  border-right-color: rgba(255, 47, 0, 0.897);
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
  border-bottom-color: rgba(255, 47, 0, 0.897);
  border-left-color: rgba(255, 47, 0, 0.897);
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
