/* html {
  height: 100%;
}

body {
  margin: 0;
} */

/* #ff0000 */
/* #f5c425 */
/* http://dragdropsite.github.io/waterpipe.js/ */

.title {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
}

h1 {
  background-image: url(https://thumbs.gfycat.com/PessimisticKeyAfricanelephant-size_restricted.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 6.5em;
  line-height: 0.75;
  margin: 10px 0;
  margin-top: 0.2em;
  /* text-shadow: 1px 1px rgba(244, 235, 235, 0.315); */
}

.main-box {
  background-color: rgba(255, 38, 0, 0.899);
  background-image: url("../smoke.png");
  opacity: 5%;
}

h4 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 2em;
  text-shadow: 1px 1px rgba(245, 10, 10, 0.384);
}

button {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px black;
  font-family: "Raleway", sans-serif;
  color: #fc584b;
  font-size: 1.3em;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  margin-left: 76%;
  margin-top: 13em;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #fc584b;
}

button::before,
button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 0.2s;
}

.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.draw::before {
  top: 0;
  left: 0;
}

.draw::after {
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}

.draw:hover {
  color: rgba(255, 47, 0, 0.897);
}

.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}

.draw:hover::before {
  border-top-color: rgba(255, 47, 0, 0.897);
  border-right-color: rgba(255, 47, 0, 0.897);
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
  border-bottom-color: rgba(255, 47, 0, 0.897);
  border-left-color: rgba(255, 47, 0, 0.897);
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
