.navbar {
  /* background-color: rgba(249, 81, 20, 0.808); */
  background-color: #f598a3;
  color: black;
}

a:hover {
  color: #0b54a1;
}

.nav-link {
  color: white;
  font-size: 1.3em;
  font-weight: 400;
}

a {
  color: black;
  font-size: 1.3em;
}

.nav-item {
  margin-left: 1.6em;
}

.navbar-toggler-icon {
  color: rgb(48, 46, 46);
  font-size: 1.4em;
}
