.navbar {
  background-color: rgba(249, 100, 20, 0.5);
  color: black;
}

a:hover {
  color: red;
}

a {
  color: black;
  font-size: 1.2em;
  font-weight: 200;
}

.nav-item {
  margin-left: 1.6em;
}
