.portfolio-div {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
}

.underline {
  height: 3px;
  width: 9%;
  background: linear-gradient(135deg, #ff0000 0%, #e6b30d 100%);
}

.big-screen {
  background: url("../screen.jpg");
  width: 1200px;
  height: 872px;
  margin-top: 4em;
  margin-left: 4em;
  background-repeat: no-repeat;
  background-size: fit;
}

.carousel-item {
  width: 76.5%;
  margin-left: 3.5%;
  margin-top: 3%;
}

.carousel-icon {
  color: black;
}

.portfolio-card-img {
  height: 350px;
}
